<div class="container">

<div class="row m-4">
<div class="col w-auto">
<mark class="bg-light">商品編集</mark>
</div>
</div>


<div class="row justify-content-center m-4">
<%= form_with model: Item, url: admin_item_path(@item.id), method: :patch do |f| %>
<div class="row m-2">
<div class="col-4">商品画像</div><div class="col-8"><%= f.file_field :image, accept: "image/*" %></div>
</div>
<div class="row m-2">
<div class="col-4">商品名</div><div class="col-8"><%= f.text_field :name,class: "form-control border-dark" %></div>
</div>
<div class="row m-2">
<div class="col-4">商品説明</div><div class="col-8"><%= f.text_area :introduction,class: "form-control border-dark", size: "50x10" %></div>
</div>
<div class="row m-2">
<div class="col-4">税抜き価格</div><div class="col-8"><%= f.text_field :price %>円</div>
</div>
</div>

<div class="row justify-content-center m-4">
 <%= f.submit '変更を保存', class: "btn btn-success" %>
 <% end %>
</div>

</div>