<div class="container">

<div class="row m-4">
  <div class="col w-auto">
   <mark class="h5 bg-light">商品一覧</mark>
  </div>
  <%= link_to '新規作成', new_admin_item_path, class: "btn btn-primary" %>
</div>

<div class="row">

<div class="col-12">
<table class="table table-bordered">
<thead class="table-active">
<th>商品ID</th>
<th>商品名</th>
<th>税込み価格</th>
</thead>
<% @items.each do |item| %>
<tbody>
<td><%= item.id %></td>
<td><%= link_to item.name, admin_item_path(item.id) %></td>
<td><%= item.price %></td>
</tbody>
<% end %>
</table>
</div>
<%= paginate @items %>
<div>