<div class="container">

<div class="row m-4">
  <div class="col w-auto">
   <mark class="h5 bg-light">商品新規登録</mark>
  </div>
</div>

<div class="row justify-content-center">
<%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
<div class="row m-2">
<div class="col-3">商品画像</div>
<div class="col-9"><%= f.file_field :image, accept: "image/*", class: "btn" %></div>
</div>

<div class="row m-2">
<div class="col-3">商品名</div>
<div class="col-9"><%= f.text_field :name, placeholder: "商品名" %></div>
</div>

<div class="row m-2">
<div class="col-3">商品説明</div>
  <div class="col-9"><%= f.text_area :introduction, placeholder: "ここに説明文を記述", class: "form-control border-dark", size: "50x10" %></div>
</div>

<div class="row m-2">
<div class="col-3">税込み価格</div>
<div class="col-9"><%= f.text_field :price, placeholder: "1000" %>円</div>
</div>

<div class="row m-3 justify-content-center">
<div class="col-4">
<%= f.submit '新規登録', class: "btn btn-success" %>
</div>
</div>
</div>

<% end %>

</div>