<div class="container">

<div class="row m-4">
  <div class="col w-auto">
   <mark class="h5 bg-light">会員一覧</mark>
  </div>
</div>


<div class="row">

<div class="col-12">
<table class="table table-bordered">
<thead class="table-active">
<th>会員ID</th>
<th>氏名</th>
<th>メールアドレス</th>
<th>ステータス</th>
</thead>
<% @customers.each do |customer| %>
<tbody>
<td><%= customer.id %></td>
<td><%= link_to (customer.last_name + customer.first_name), admin_customer_path(customer.id) %></td>
<td><%= customer.email %></td>
<td><%= if customer.is_deleted == false
     "有効"
    else
     "退会"
    end %></td>
</tbody>
<% end %>
</table>
</div>

</div>
<%= paginate @customers %>
</div>

