<div class="container">

<div class="row m-4">
<div class="col w-auto">
<mark class="h5 bg-light">注文履歴詳細</mark>
</div>
</div>

<div class="row m-2">
<div class="col-8 w-auto">
<div class="h6">注文情報</div>
</div>
<div class="col-4 w-auto">
<div class="h6">請求情報</div>
</div>
</div>

<div class="row">
<div class="col-8">
<table class="table table-bordered">
<tbody>
<tr>
<td class="table-active">注文日</td>
<td><%= @order.created_at.strftime("%Y-%m-%d") %></td>
</tr>
<tr>
<td class="table-active">配送先</td>
<td><%= @order.post_number %></br>
<%= @order.address %></br>
<%= @order.name %>
</td>
</tr><tr>
<td class="table-active">支払い方法</td>
<td><%= @order.payment_method_i18n %></td>
</tr>
</tbody>
</table>
</div>
<div class="col-4">
<table class="table table-bordered">
<tbody>
<tr>
<td class="table-active">商品合計</td>
<td><%= @total %></td>
</tr>
<tr>
<td class="table-active">配送料</td>
<td><%= @order.postage %></td>
</tr><tr>
<td class="table-active">ご請求学</td>
<td><%= @order.amount_billed %></td>
</tr>
</tbody>
</table>
</div>
</div>

<div class="row m-2">
<div class="col-8 w-auto">
<div class="h6">注文内容</div>
</div>
</div>
<div class="row">
<div class="col">
<table class="table table-bordered">
<thead class="table-active">
<th class="col-6">商品</th>
<th class="col-2">単価（税込）</th>
<th class="col-1">個数</th>
<th class="col-1">小計</th>
</thead>
<tbody>
<% @order_detail.each do |order_detail| %>
<td><%= order_detail.item.name %></td>
<td><%= order_detail.add_tax_price %></td>
<td><%= order_detail.quantity %></td>
<td><%= (order_detail.add_tax_price.to_i) * (order_detail.quantity.to_i) %></td>
<% end %>
</tbody>
</table>
</div>
</div>

</div>