<div class="container">
<div class="row m-4">
<div class="col w-auto">
<mark class="h4 bg-light">ログイン</mark>
</div>
</div>
<div class="row m-2">
<div class="col w-auto">
<mark class="bg-light">会員の方はこちらからログイン</mark>
</div>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row justify-content-center m-2">
<div class="col-2">
<%= f.label :email %>
</div>
  <div class="col-6">
  <div class="field">
    <%=  f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control border-dark' %>
  </div>
</div>
</div>

<div class="row justify-content-center m-2">
 <div class="col-2">
  <%= f.label :password %>
 </div>
<div class="col-6">
  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password" , class: 'form-control border-dark'%>
  </div>
  </div>
  </div>
<div class="row justify-content-center m-4">
  <div class="col-4 actions">
    <%= f.submit "ログイン" , class: "btn btn-primary"%>
  </div>
  </div>

<div class="row m-2">
<div class="col w-auto">
<mark class="bg-light">会員登録がお済みでない方</mark>
</div>
</div>
<div class="row m-2">
<div class="col">
<p><%= render "public/shared/links" %>からログインしてください</p>
</div>
</div>
<% end %>