<div class="container">
<div class="row m-3">
  <div class="col h4">商品一覧</div>
  </div>

<div class ="row justify-content-between">
<% @items.each do |item| %>
<div class="card card-lg border-0 m-2">
<a href="<%= public_item_path(item.id) %>">
<%= image_tag item.image, size: "150x100" %></br>
</a>
<%= link_to item.name, public_item_path(item.id) %>
<div>¥<%= item.price %></div>
</div>
<% end %>
</div>
<%= paginate @items %>
</div>