<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header class="container">
    <div class="d-flex justify-content-end">
     <div class="row">
     <% if admin_signed_in? %>
      <% if request.fullpath.include? "/admin" %>
       <button type="button" class="btn btn-link border">
       <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
       </button>
       <button type="button" class="btn btn-link border">
       <%= link_to '商品一覧', admin_items_path %>
       </button>
       <button type="button" class="btn btn-link border">
       <%= link_to '会員一覧', admin_customers_path %>
       </button>
      <% else %>
       <button type="button" class="btn btn-link border">
       <%= link_to 'ログイン', new_admin_session_path %>
       </button>
      <% end %>
     <% elsif customer_signed_in? %>
       <button type="button" class="btn btn-link border">
       <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %>
       </button>
       <button type="button" class="btn btn-link border">
       <%= link_to '商品一覧', public_items_path %>
       </button>
       <button type="button" class="btn btn-link border">
       <%= link_to 'マイページ', mypage_path %>
       </button>
        <button type="button" class="btn btn-link border">
       <%= link_to 'カート', public_cart_items_path %>
       </button>
       <button type="button" class="btn btn-link border">
       <%= link_to '注文', new_public_order_path %>
       </button>
        <button type="button" class="btn btn-link border">
       <%= link_to '注文情報確認', public_orders_confirm_path %>
       </button>
        <button type="button" class="btn btn-link border">
       <%= link_to '注文履歴', public_orders_path %>
       </button>
      <% else %>
    　 <button type="button" class="btn btn-link border">
       <%= link_to 'About', homes_about_path %>
       </button>
       <button type="button" class="btn btn-link border">
       <%= link_to '商品一覧', public_items_path %>
       </button><button type="button" class="btn btn-link border">
       <%= link_to '新規登録', new_customer_registration_path %>
       </button>
       <button type="button" class="btn btn-link border">
       <%= link_to 'ログイン', new_customer_session_path %>
       </button>
     <% end %>
    </div>
   </div>
 </header>

    <%= yield %>
  </body>
</html>
